package ${package.Entity};

import java.io.Serializable;
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import org.hibernate.annotations.GenericGenerator;

import javax.persistence.*;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
#if(${table.convert})
@Entity
@Table(name="${table.name}")
#end
#if(${swagger2})
@ApiModel(value="${entity}对象", description="$!{table.comment}")
#end
public class ${entity} implements Serializable {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")
#if(${swagger2})
    @ApiModelProperty(value = "${field.comment}")
#else
    /**
     * ${field.comment}
     */
#end
#end
#if(${field.keyFlag})
## 主键
    @Id
#if(${field.keyIdentityFlag})
    @GeneratedValue(strategy = GenerationType.IDENTITY)
#else
    @GeneratedValue(strategy = GenerationType.SEQUENCE,generator = "${table.name}_${field.name}_seq_generator")
    @SequenceGenerator(name = "${table.name}_${field.name}_seq_generator",sequenceName = "${table.name}_${field.name}_seq",allocationSize = 1,initialValue = 1)
#end
#end
    @Column(name = "${field.name}")
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------
}
